---
import MainLayouts from "../../layouts/MainLayouts.astro"

export async function getStaticPaths() {
  const data = await fetch(
    "https://pexwboaieovroxjkczsc.supabase.co/rest/v1/speakerinfo",
  {
    method: "GET",
    headers: {
        apikey:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBleHdib2FpZW92cm94amtjenNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ1MDEwNzgsImV4cCI6MjAxMDA3NzA3OH0.6BHSqoC3DM7BXM7_X4Syq5W3u_U5MKO7EPClIkefExs"
    },
}
  ).then(response => response.json());

  return data.map((name) => {
    return {
      params: { speaker: name.speaker },
      props: { myData:name },
    };
  });
}

const { myData } = Astro.props
console.log(myData);
---

<MainLayouts>
    <section class="speakerpage">
	    <img src={myData.image} alt="placeholder">
        <div class="text">
    <h1>{myData.name}</h1>
    <h2>{myData.title}</h2>
    <p>{myData.info}</p>
    <h4>{myData.talk}</h4>
    </div>
    </section>
</MainLayouts>

<style>
        .speakerpage {
            display: flex;
            align-items: center;
            gap: 3rem;
        }

        .speakerpage img {
            width: 400px;
            height: auto;
            border-radius: 50%;
        }

        @media (max-width: 750px) {
                    .speakerpage {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
        }
        }
</style>