---
const {data} =Astro.props;
console.log(data);
---

<article>
    <img src="" alt="placeholder">
    <h1>{data.name}</h1>
    <h2>{data.title}</h2>
    <p>{data.text}</p>
    <h4>{data.frame}</h4>
</article>