---
const {data} =Astro.props;
console.log(data);
---
<a href={`/name/${data.speaker}`}>
<article>
    <img src={data.image} alt="placeholder">
    <h2>{data.name}</h2>
    <p>{data.title}</p>
</article>
</a>

<style>
    img {
        width: 300px;
        height: auto;
        max-width: 300px;
        max-height: 300px;
        border-radius: 50%;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    /*mobil*/
        @media (max-width: 750px) {
            a {
                display: flex;
                align-items: center;
            }
            
        }
        
</style>