---
const {data} =Astro.props;
console.log(data);
---
<a href={`/name/${data.speaker}`}>
<article>
    <img src={data.image} alt="placeholder">
    <h2>{data.name}</h2>
    <p>{data.title}</p>
</article>
</a>

<style>
    article {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 7px;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
    }

    /*mobil*/
            @media (max-width: 1250px) {
                article {
        display: flex;
align-items: center;
        flex-direction: column;
    }       
        }
                @media (max-width: 900px) {
                article {
        display: flex;
        align-items: center;
        flex-direction: column;
    }    
        }
                    @media (max-width: 500px) {

    h2 {
        display: flex;
        align-items: center;
    }
        }
        p {
                    display: flex;
        justify-content: center;
        }
        img {
                    display: flex;
        align-items: center;
        }
</style>